<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<body id = "show" background="<%= @icon %>" no-repeat center center fixed;>

<style type="text/css">
#<%= @current_condition %>	{
	color: white;
}

</style>

	<div id="up_top">
	<%=  %>  
	</div>

	<div id="open_settings">
		<a href="#"><i class="fa fa-cog"></i></a>
	</div>

	<div id="main">
		<div id ="skycon">
		<canvas id="<%= @current_condition %>" width="64" height="64"></canvas></div>

		<h1 id="city"><%= @current_city + ","%> <%= @current_state %></h1>
		<p id ="weather"><%= @current_temp.ceil %>°F, <%= @current_condition.capitalize %></p>
	</div>

<script>
	var icons = new Skycons (),
		list  = [
                "<%= @current_condition %>"
              ],
              i;

              // list = "<%= @current_condition %>"
          for(i = list.length; i--; )
            icons.set(list[i], list[i]);

          icons.play();
</script>


</body>

